openapi: 3.0.3
info:
  title: Jupiter API
  version: 1.0.0
  description: Generated composite Jupiter API specification. Do not edit manually.
servers:
  - url: https://api.jup.ag
    description: Jupiter API
  - url: https://tx.jup.ag
    description: Jupiter transaction API
tags:
  - name: LendBorrow
    description: Operations from lend/borrow.yaml
  - name: Lend
    description: Operations from lend/lend.yaml
  - name: Portfolio
    description: Operations from portfolio/portfolio.yaml
  - name: Prediction
    description: Operations from prediction/prediction.yaml
  - name: PriceV2
    description: Operations from price/v2/price.yaml
  - name: PriceV3
    description: Operations from price/v3/price.yaml
  - name: Recurring
    description: Operations from recurring/recurring.yaml
  - name: Send
    description: Operations from send/send.yaml
  - name: Studio
    description: Operations from studio/studio.yaml
  - name: SwapV1
    description: Operations from swap/v1/swap.yaml
  - name: SwapV2
    description: Operations from swap/v2/swap.yaml
  - name: TokensV1
    description: Operations from tokens/v1/tokens.yaml
  - name: TokensV2
    description: Operations from tokens/v2/tokens.yaml
  - name: TokensV2Verification
    description: Operations from tokens/v2/verification.yaml
  - name: Transaction
    description: Operations from transaction/transaction.yaml
  - name: TriggerV1
    description: Operations from trigger/v1/trigger.yaml
  - name: TriggerV2
    description: Operations from trigger/v2/trigger.yaml
  - name: Ultra
    description: Operations from ultra/ultra.yaml
paths:
  /lend/v1/borrow/vaults:
    get:
      tags:
        - LendBorrow
      summary: List borrow vaults
      description: Returns all whitelisted borrow vaults for the requested market.
      operationId: listBorrowVaults
      parameters:
        - $ref: "#/components/parameters/LendBorrow_market"
        - name: rpcUrl
          in: query
          description: Optional custom Solana RPC URL used to resolve on-chain vault state.
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: uri
      responses:
        "200":
          description: Borrow vaults
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LendBorrow_BorrowVault"
              example:
                - id: 1
                  address: nMzVs8GiXMVUENEwkev7JZfDcCENmz18ScheeVRdnb1
                  supplyToken:
                    address: So11111111111111111111111111111111111111112
                    chainId: solana
                    name: Wrapped SOL
                    symbol: WSOL
                    uiSymbol: SOL
                    decimals: 9
                    price: "68.403265633557"
                  borrowToken:
                    address: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    chainId: solana
                    name: USD Coin
                    symbol: USDC
                    uiSymbol: USDC
                    decimals: 6
                    price: "0.999733471531"
                  totalSupply: "1953931136795475"
                  totalBorrow: "61778760293506"
                  collateralFactor: "800"
                  liquidationThreshold: "850"
                  borrowRate: "471"
                  totalPositions: 9071
                  metadata:
                    maxLeverage: false
                    nativeStake: false
                    pegged: false
                    multiply:
                      enabled: true
                      reduceFactor: 300
      security:
        - LendBorrow_ApiKeyAuth:
            []
    servers:
      - url: https://api.jup.ag
  /lend/v1/borrow/positions:
    get:
      tags:
        - LendBorrow
      summary: List borrow positions for users
      description: "Returns borrow positions (NFTs) for one or more wallet addresses.\n\nPass multiple wallets as a comma-separated list in the `users` query parameter.\n"
      operationId: listBorrowPositions
      parameters:
        - name: users
          in: query
          description: Comma-separated Solana wallet addresses.
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: "HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf,TEsTKPSD2RBQxFHgxqmr3YLayAWWz2kpESk5wdoeB62"
        - $ref: "#/components/parameters/LendBorrow_market"
      responses:
        "200":
          description: Borrow positions for the requested users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LendBorrow_BorrowPosition"
              example:
                - id: 3518
                  vaultId: 8
                  address: 9tjzV49wccwf9A8J5fZ5josjWYnS41fUpNmcwqcqYrPF
                  supply: "0"
                  beforeSupply: "0"
                  borrow: "0"
                  beforeBorrow: "0"
                  isLiquidated: false
                  supplyLiquidation: "0"
                  borrowLiquidation: "0"
                  isSupplyPosition: true
                  tick: -2147483648
                  tickId: 1
                  dustBorrow: "0"
                  ownerAddress: HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf
                  vault:
                    id: 8
                    address: DchXYJwVjPaEUxCiySXVbNyNppAFbQM7Ku76uKvyaDNT
                  config:
                    {}
      security:
        - LendBorrow_ApiKeyAuth:
            []
    servers:
      - url: https://api.jup.ag
  /lend/v1/borrow/operate:
    post:
      tags:
        - LendBorrow
      summary: Build unsigned operate transaction
      description: "Builds a base64-encoded unsigned versioned transaction for a borrow operate action.\n\nPositive `colAmount` / `debtAmount` values deposit collateral or borrow debt.\nNegative values withdraw collateral or pay back debt.\n"
      operationId: buildBorrowOperateTransaction
      parameters:
        - $ref: "#/components/parameters/LendBorrow_market"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LendBorrow_OperatePayload"
            example:
              vaultId: 1
              positionId: 0
              signer: 4AwWnVxWKdZCZ8zVGdD7S3EwzRHkVRiXJxQKzwjbBayj
              colAmount: "10000"
              debtAmount: "100"
        required: true
      responses:
        "200":
          description: Unsigned operate transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LendBorrow_OperateTransactionResponse"
              example:
                nftId: 9062
                transaction: AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAgSLx7tPDvhw1CP7ZRClws8DN/LJyixatJZus2rQZ5pAG4cj71J70/rvu0J/yTO1674UGxqeljWsbxMzyBLGGTIhSXDKb3wVHYzXo0QFPryr6iEn/iNAYzX5PAlDQtaHW8lZfXf/XyEr3Wopfe9zqFiLis6v4f8U6hxuQhWGjqLG94CERPvP3H/BclenozhcxbxUXvL+eHEhCG764X4ME0EGHl8szytbAyAc7IdpMQ3ZAWF7Tn2sEZyyHpR1gWMtyb6oAuWSMFFuPlFmrZgneVXPFM1IT/BLHA9RbwtgiUIANaxKCIpkUG7pyNCcpG772SuCkkknsAKWSbiImP8gVvFqPeA4oganO3BaPj9y3TzLqfiwk9dDCxaIuRcmdJ+MiQSCv4el+RWy7kuZColtQumOW/ySBZLynRpY6hFkqzWzMMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEcn8RD5rZyCj3b2Rq49ZiVsmScRvvn3bU9qhBHACBPVR6mnvvwFsKRZEO8A58f97e1/yRiQ5ahJERwinC6lqslJomRsm5Gr9y9W+wdHAcnDKneVfnQTMTEQq+wdbs8IgIyXJY9OJInxuz0QKRSODYMLWhOZ2v8QhASOe9jb6fhZxvp6877brTo9ZfNqq8l0MbG75MLS9uDkfKYCA0UvXWEK/huRLkhelf0V6yk33/xLN6MW0KY4Ev8Cukm0xsGNHgbd9uHXZaGT2cvhRs7reawctIXtX1s3kTqM9YV+/wCpjWK6m/JZmhh7wDcE7nwe+sC7C7VoO3NCsHbuaiJo3IYBEBEABwIPCwEFBAgMBgMJDREOChDyI8aJUuHythAnAAAAAAAA
      security:
        - LendBorrow_ApiKeyAuth:
            []
    servers:
      - url: https://api.jup.ag
  /lend/v1/borrow/operate-instructions:
    post:
      tags:
        - LendBorrow
      summary: Build operate instructions
      description: Returns Solana instructions and lookup table addresses for a borrow operate action.
      operationId: buildBorrowOperateInstructions
      parameters:
        - $ref: "#/components/parameters/LendBorrow_market"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LendBorrow_OperatePayload"
            example:
              vaultId: 1
              positionId: 0
              signer: 4AwWnVxWKdZCZ8zVGdD7S3EwzRHkVRiXJxQKzwjbBayj
              colAmount: "10000"
              debtAmount: "100"
        required: true
      responses:
        "200":
          description: Operate instructions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LendBorrow_OperateInstructionsResponse"
              example:
                nftId: 9062
                instructions:
                  - programId: jupr81YtYssSyPt8jbnGuiWon5f6x9TcDEFxYe3Bdzi
                    accounts:
                      - pubkey: GpLjUnj5q8V6jkaaT7q26rQ4hzn7KYoebLRWfk16hTwh
                        isSigner: true
                        isWritable: true
                    data: xRQKAWGgsVsBAF8jAAA=
                addressLookupTableAddresses:
                  - 3eB86bwSJanGwLo5WoMQZL7Bk7uubCRggZKshJKJVKwx
      security:
        - LendBorrow_ApiKeyAuth:
            []
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/deposit:
    post:
      summary: deposit
      description: "Request for a base64-encoded unsigned earn deposit transaction to deposit assets\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnAmountRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_TransactionResponse"
              example:
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/deposit-instructions:
    post:
      summary: deposit-instructions
      description: "Request for the instruction of an earn deposit transaction to deposit assets\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnAmountRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_InstructionResponse"
              example:
                programId: jup3YeL8QhtSx1e253b2FDvsMNC87fDrgQZivbrndc9
                accounts:
                  - pubkey: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    isSigner: true
                    isWritable: true
                  - pubkey: So11111111111111111111111111111111111111112
                    isSigner: false
                    isWritable: false
                data: "3Dc2AAAAAAA..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/withdraw:
    post:
      summary: withdraw
      description: "Request for a base64-encoded unsigned earn withdraw transaction to withdraw assets\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnAmountRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_TransactionResponse"
              example:
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/withdraw-instructions:
    post:
      summary: withdraw-instructions
      description: "Request for the instruction of an earn withdraw transaction to withdraw assets\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnAmountRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_InstructionResponse"
              example:
                programId: jup3YeL8QhtSx1e253b2FDvsMNC87fDrgQZivbrndc9
                accounts:
                  - pubkey: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    isSigner: true
                    isWritable: true
                data: "4Ec3AAAAAAA..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/mint:
    post:
      summary: mint
      description: "Request for a base64-encoded unsigned earn mint transaction to mint shares\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnSharesRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_TransactionResponse"
              example:
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/mint-instructions:
    post:
      summary: mint-instructions
      description: "Request for the instruction of an earn mint transaction to mint shares\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnSharesRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_InstructionResponse"
              example:
                programId: jup3YeL8QhtSx1e253b2FDvsMNC87fDrgQZivbrndc9
                accounts:
                  - pubkey: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    isSigner: true
                    isWritable: true
                data: "5Fd4AAAAAAA..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/redeem:
    post:
      summary: redeem
      description: "Request for a base64-encoded unsigned earn redeem transaction to redeem shares\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnSharesRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_TransactionResponse"
              example:
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/redeem-instructions:
    post:
      summary: redeem-instructions
      description: "Request for the instruction of an earn redeem transaction to redeem shares\n"
      security:
        - Lend_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Lend_EarnSharesRequestBody"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_InstructionResponse"
              example:
                programId: jup3YeL8QhtSx1e253b2FDvsMNC87fDrgQZivbrndc9
                accounts:
                  - pubkey: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    isSigner: true
                    isWritable: true
                data: "6Ge5AAAAAAA..."
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/tokens:
    get:
      summary: tokens
      description: "Request for the tokens available to be deposited and their information\n"
      security:
        - Lend_ApiKeyAuth:
            []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_TokensResponse"
              example:
                - id: So11111111111111111111111111111111111111112
                  address: So11111111111111111111111111111111111111112
                  name: Wrapped SOL
                  symbol: SOL
                  decimals: 9
                  assetAddress: So11111111111111111111111111111111111111112
                  asset:
                    address: So11111111111111111111111111111111111111112
                    chain_id: 0
                    name: Wrapped SOL
                    symbol: SOL
                    decimals: 9
                    logo_url: https://raw.githubusercontent.com/solana-labs/token-list/main/assets/mainnet/So11111111111111111111111111111111111111112/logo.png
                    price: 171.34
                    coingecko_id: solana
                  totalAssets: "1500000000000"
                  totalSupply: "1450000000000"
                  convertToShares: "0.966667"
                  convertToAssets: "1.034483"
                  rewardsRate: "0.035"
                  supplyRate: "0.025"
                  totalRate: "0.06"
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/positions:
    get:
      summary: positions
      description: "Request for the position data of one or multiple users\n"
      security:
        - Lend_ApiKeyAuth:
            []
      parameters:
        - name: users
          in: query
          description: "User wallet addresses (comma separated)\n"
          required: true
          schema:
            type: string
          example: "HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf,jdocuPgEAjMfihABsPgKEvYtsmMzjUHeq9LX4Hvs7f3"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_UserPositionsResponse"
              example:
                - token:
                    id: So11111111111111111111111111111111111111112
                    address: So11111111111111111111111111111111111111112
                    name: Wrapped SOL
                    symbol: SOL
                    decimals: 9
                  ownerAddress: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                  shares: "100000000"
                  underlyingAssets: "103448300"
                  underlyingBalance: "17.72"
                  allowance: "1000000000"
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  /lend/v1/earn/earnings:
    get:
      summary: earnings
      description: "Request for the earnings of one or multiple positions of a user\n"
      security:
        - Lend_ApiKeyAuth:
            []
      parameters:
        - name: user
          in: query
          description: "User wallet address\n"
          required: true
          schema:
            type: string
          example: HYbxGkNvEwvZ14RzJHPB9h3dWfXjxwAEhkyzJRHx1hBf
        - name: positions
          in: query
          description: "User token positions (comma-separated)\n"
          required: true
          schema:
            type: string
          example: "9BEcn9aPEmhSPbPQeFGjidRiEKki46fVQDyPpSQXPA2D,2uQsyo1fXXQkDtcpXnLofWy88PxcvnfH2L8FPSE62FVU"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lend_UserEarningsResponse"
              example:
                - address: So11111111111111111111111111111111111111112
                  ownerAddress: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                  earnings: 34483000
                  slot: 345678901
      tags:
        - Lend
    servers:
      - url: https://api.jup.ag
  "/portfolio/v1/positions/{address}":
    get:
      parameters:
        - schema:
            type: string
          example: "jupiter-exchange,jupiter-governance"
          in: query
          name: platforms
          required: false
          description: Comma separated list of platform ids
        - schema:
            type: string
          in: path
          name: address
          required: true
          description: Solana wallet address
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: number
                  owner:
                    type: string
                  fetcherReports:
                    type: array
                    items:
                      $ref: "#/components/schemas/Portfolio_FetcherReport"
                  elements:
                    type: array
                    items:
                      $ref: "#/components/schemas/Portfolio_PortfolioElement"
                  duration:
                    type: number
                  tokenInfo:
                    type: object
                    properties:
                      solana:
                        type: object
                        description: Tokens indexed by token address
                        additionalProperties:
                          $ref: "#/components/schemas/Portfolio_TokenInfo"
              example:
                date: 1710000000000
                owner: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                fetcherReports:
                  - id: jupiter-exchange
                    status: ok
                    duration: 120
                elements:
                  - type: multiple
                    label: Wallet
                    platformId: native-stake
                    name: Native Stake
                    data:
                      assets:
                        - type: token
                          networkId: solana
                          value: 1713.4
                          data:
                            address: So11111111111111111111111111111111111111112
                            amount: 10
                            price: 171.34
                duration: 450
      tags:
        - Portfolio
    servers:
      - url: https://api.jup.ag
  /portfolio/v1/platforms:
    get:
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    image:
                      type: string
                    description:
                      type: string
                    defiLlamaId:
                      type: string
                    isDeprecated:
                      type: boolean
                    tokens:
                      type: array
                      items:
                        type: string
                    tags:
                      type: array
                      items:
                        type: string
                    links:
                      type: object
                      properties:
                        website:
                          type: string
                        discord:
                          type: string
                        telegram:
                          type: string
                        twitter:
                          type: string
                        github:
                          type: string
                        medium:
                          type: string
                        documentation:
                          type: string
              example:
                - id: jupiter-exchange
                  name: Jupiter
                  image: https://sonar.watch/img/platforms/jupiter-exchange.webp
                  description: Jupiter Aggregator
                  defiLlamaId: jupiter
                  isDeprecated: false
      tags:
        - Portfolio
    servers:
      - url: https://api.jup.ag
  "/portfolio/v1/staked-jup/{address}":
    get:
      parameters:
        - schema:
            type: string
          in: path
          name: address
          required: true
      responses:
        "200":
          description: Default Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  stakedAmount:
                    type: number
                  unstaking:
                    type: array
                    items:
                      type: object
                      properties:
                        amount:
                          type: number
                        until:
                          type: number
              example:
                stakedAmount: 15000.5
                unstaking:
                  - amount: 500
                    until: 1711000000000
      tags:
        - Portfolio
    servers:
      - url: https://api.jup.ag
  /prediction/v1/events/search:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
              - bisonfi
            default: polymarket
            description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          required: false
          description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          name: provider
          in: query
        - schema:
            type: string
            minLength: 1
            maxLength: 200
            description: Search term matched against event titles
          required: true
          description: Search term matched against event titles
          name: query
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 20
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Events matching the search query
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Event"
                  pagination:
                    $ref: "#/components/schemas/Prediction_Pagination"
                required:
                  - data
      security:
        &security
        - Prediction_ApiKeyAuth:
            []
    servers:
      - url: https://api.jup.ag
  /prediction/v1/events:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
              - bisonfi
            default: polymarket
            description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          required: false
          description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          name: provider
          in: query
        - schema:
            type: boolean
            nullable: true
          required: false
          name: includeMarkets
          in: query
        - schema:
            type: boolean
          required: false
          description: "Include all allowed sports market types (moneyline, spread, totals) and extra (e.g. Saba) markets mapped onto Polymarket events. Defaults to false (moneyline only). F1 events always include every sportsMarketType."
          name: includeAllMarkets
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            enum:
              - all
              - crypto
              - sports
              - politics
              - esports
              - culture
              - economics
              - tech
          required: false
          name: category
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
              - type: string
          required: false
          name: subcategory
          in: query
        - schema:
            type: string
            enum:
              - volume
              - beginAt
            description: Sort field for events (volume or begin time). Pair with sortDirection to control ascending/descending.
          required: false
          description: Sort field for events (volume or begin time). Pair with sortDirection to control ascending/descending.
          name: sortBy
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            description: Direction for the chosen sort field. Defaults to desc for volume and asc for beginAt.
          required: false
          description: Direction for the chosen sort field. Defaults to desc for volume and asc for beginAt.
          name: sortDirection
          in: query
        - schema:
            type: string
            enum:
              - new
              - live
              - trending
              - upcoming
            description: "Apply named filters. Use `new` for events created in the last 24 hours, `live` for events that have begun, `trending` for events with recent trade activity, and `upcoming` for events that have not begun yet."
          required: false
          description: "Apply named filters. Use `new` for events created in the last 24 hours, `live` for events that have begun, `trending` for events with recent trade activity, and `upcoming` for events that have not begun yet."
          name: filter
          in: query
        - schema:
            type: string
            description: "Filter events by tag (e.g. `soccer`)."
          required: false
          description: "Filter events by tag (e.g. `soccer`)."
          name: tags
          in: query
      responses:
        "200":
          description: List of all events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Event"
                  pagination:
                    $ref: "#/components/schemas/Prediction_Pagination"
                required:
                  - data
                  - pagination
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/events/{eventId}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: boolean
            nullable: true
          required: false
          name: includeMarkets
          in: query
        - schema:
            type: boolean
          required: false
          description: "Include all allowed sports market types (moneyline, spread, totals) and extra (e.g. Saba) markets mapped onto Polymarket events. Defaults to false (moneyline only). F1 events always include every sportsMarketType."
          name: includeAllMarkets
          in: query
      responses:
        "200":
          description: Event data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_Event"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/events/suggested/{pubkey}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order public key to base suggested events on
          required: true
          description: Order public key to base suggested events on
          name: pubkey
          in: path
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
              - bisonfi
            default: polymarket
            description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          required: false
          description: "Data provider for events (defaults to polymarket). Use `bisonfi` for Jupiter Forecast markets."
          name: provider
          in: query
      responses:
        "200":
          description: "Suggested events derived from the user's order activity"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Event"
                required:
                  - data
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/events/scores:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            example: "POLY-351731,POLY-30615"
          required: true
          description: Comma-separated event IDs to fetch live scores for (max 100)
          name: eventIds
          in: query
      responses:
        "200":
          description: Latest live scores for the given event IDs. Events without a score row are omitted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_GameScore"
                required:
                  - data
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/events/{eventId}/score":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
          required: true
          description: Event identifier
          name: eventId
          in: path
      responses:
        "200":
          description: "Latest live score for the event, or null if no score row exists."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_GameScore"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/events/{eventId}/markets":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
      responses:
        "200":
          description: List of markets for the given event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Market"
                  pagination:
                    $ref: "#/components/schemas/Prediction_Pagination"
                required:
                  - data
                  - pagination
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/events/{eventId}/markets/{marketId}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: string
            minLength: 1
            description: Market identifier
          required: true
          description: Market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Market data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_Market"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/markets/{marketId}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Market identifier
          required: true
          description: Market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Market data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_Market"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/orders:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: ownerPubkey
          in: query
      responses:
        "200":
          description: List of all orders registered on-chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Order"
                  pagination:
                    type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                      end:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                      hasNext:
                        type: boolean
                    required:
                      - start
                      - end
                      - total
                      - hasNext
                required:
                  - data
                  - pagination
        "400":
          description: Failed to fetch orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    post:
      tags:
        - Prediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Prediction_CreateOrderRequest"
      responses:
        "200":
          description: Unsigned transaction for creating an order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_CreateOrderResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/execute:
    post:
      tags:
        - Prediction
      summary: Execute a signed order transaction
      description: "Submit a signed order transaction for execution. Pass the base64 `signedTransaction` together with the `execution.context` object returned by the order build (`POST /orders`, or `DELETE /positions/{positionPubkey}` for a sell), unchanged. Jupiter Forecast (bisonfi) orders execute as an atomic swap through this endpoint and the transaction signature is returned on success."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Prediction_ExecuteRequest"
      responses:
        "200":
          description: Execution result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ExecuteResponse"
        "400":
          description: Execution failed or invalid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/orders/{orderPubkey}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order account public key
          required: true
          description: Order account public key
          name: orderPubkey
          in: path
      responses:
        "200":
          description: Order data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_Order"
        "400":
          description: Failed to fetch order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/orders/status/{orderPubkey}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order account public key
          required: true
          description: Order account public key
          name: orderPubkey
          in: path
      responses:
        "200":
          description: Latest status for an order with event history
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderPubkey:
                    type: string
                  status:
                    type: string
                  latestEventType:
                    type: string
                  latestSignature:
                    type: string
                  externalOrderId:
                    type: string
                  orderId:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        eventType:
                          type: string
                        status:
                          type: string
                        rawStatus:
                          type: string
                        timestamp:
                          type: integer
                        signature:
                          type: string
                        externalOrderId:
                          type: string
                        orderId:
                          type: string
                      required:
                        - eventType
                        - status
                        - rawStatus
                        - timestamp
                        - signature
                        - externalOrderId
                        - orderId
                required:
                  - orderPubkey
                  - status
                  - latestEventType
                  - latestSignature
                  - externalOrderId
                  - orderId
                  - history
        "400":
          description: Failed to fetch order status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "404":
          description: Order history not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/positions:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 1
            description: Position owner public key
          required: false
          description: Position owner public key
          name: ownerPubkey
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: marketPubkey
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: marketId
          in: query
        - schema:
            type: string
            enum:
              - "true"
              - "false"
            description: "Filter by position side (true = YES, false = NO)"
          required: false
          description: "Filter by position side (true = YES, false = NO)"
          name: isYes
          in: query
      responses:
        "200":
          description: List of on-chain positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_Position"
                  pagination:
                    type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                      end:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                      hasNext:
                        type: boolean
                    required:
                      - start
                      - end
                      - total
                      - hasNext
                required:
                  - data
                  - pagination
        "400":
          description: Failed to fetch positions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    delete:
      tags:
        - Prediction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Prediction_CloseAllPositionsRequest"
      responses:
        "200":
          description: Unsigned transactions that sell all contracts across every open position for the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/Prediction_CreateOrderResponse"
                        - $ref: "#/components/schemas/Prediction_ClaimPositionResponse"
                required:
                  - data
        "400":
          description: Unable to build close positions transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/positions/{positionPubkey}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      responses:
        "200":
          description: Position data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_Position"
        "400":
          description: Failed to fetch position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    delete:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 32
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Prediction_ClosePositionRequest"
      responses:
        "200":
          description: Unsigned transaction that sells all contracts for a position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_CreateOrderResponse"
        "400":
          description: Unable to build close position transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/positions/{positionPubkey}/claim":
    post:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 32
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Prediction_ClaimPositionRequest"
      responses:
        "200":
          description: Unsigned transaction to claim payout for a winning position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ClaimPositionResponse"
        "400":
          description: Unable to build claim payout transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/history:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 32
            description: History owner public key
          required: false
          description: History owner public key
          name: ownerPubkey
          in: query
        - schema:
            type: integer
            minimum: 1
            description: History event ID
          required: false
          description: History event ID
          name: id
          in: query
        - schema:
            type: string
            minLength: 32
            description: Filter by position public key
          required: false
          description: Filter by position public key
          name: positionPubkey
          in: query
      responses:
        "200":
          description: "Paginated event history, or single event when id is provided"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Prediction_HistoryEvent"
                  pagination:
                    $ref: "#/components/schemas/Prediction_Pagination"
                required:
                  - data
                  - pagination
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/forecast:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
          required: true
          description: Market identifier to fetch the forecast for. Required; omitting it returns 400.
          name: marketId
          in: query
      responses:
        "200":
          description: Forecast time-series for the market
          content:
            application/json:
              schema:
                type: object
                properties:
                  forecast_history:
                    type: array
                    items:
                      type: object
                      properties:
                        market_ticker:
                          type: string
                        event_ticker:
                          type: string
                        end_period_ts:
                          type: number
                        period_interval:
                          type: number
                        numerical_forecast:
                          type: number
                        raw_numerical_forecast:
                          type: number
                        formatted_forecast:
                          type: string
        "400":
          description: Invalid or missing market ID
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
        "502":
          description: Failed to fetch forecast data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/trading-status:
    get:
      tags:
        - Prediction
      responses:
        "200":
          description: Whether trading is currently enabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_TradingStatusResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/orderbook/{marketId}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Kalshi or Polymarket market identifier
            example: KXF1-25-LN
          required: true
          description: Kalshi or Polymarket market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Orderbook depth for the given market
          content:
            application/json:
              schema:
                type: object
                nullable: true
                properties:
                  "yes":
                    type: array
                    description: "YES-side levels sorted by price ascending. Each entry is a [price_cents, size] tuple. price_cents is rounded, so sub-cent levels show 0; size may be fractional."
                    items:
                      type: array
                      items:
                        type: number
                      minItems: 2
                      maxItems: 2
                  "no":
                    type: array
                    description: "NO-side levels sorted by price ascending. Each entry is a [price_cents, size] tuple. price_cents is rounded, so sub-cent levels show 0; size may be fractional."
                    items:
                      type: array
                      items:
                        type: number
                      minItems: 2
                      maxItems: 2
                  yes_dollars:
                    type: array
                    description: "YES-side levels with price as decimal dollar string. Each entry is a [price_string, size] tuple, e.g. [\"0.0100\", 346014]."
                    items:
                      type: array
                      minItems: 2
                      maxItems: 2
                      items:
                        {}
                  no_dollars:
                    type: array
                    description: "NO-side levels with price as decimal dollar string. Each entry is a [price_string, size] tuple, e.g. [\"0.0100\", 219]."
                    items:
                      type: array
                      minItems: 2
                      maxItems: 2
                      items:
                        {}
                required:
                  - "yes"
                  - "no"
                  - yes_dollars
                  - no_dollars
        "502":
          description: Failed to fetch orderbook data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Prediction_ErrorResponse"
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/profiles/{ownerPubkey}":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      responses:
        "200":
          description: Profile stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerPubkey:
                    type: string
                  realizedPnlUsd:
                    type: string
                  totalVolumeUsd:
                    type: string
                  predictionsCount:
                    type: string
                  correctPredictions:
                    type: string
                  wrongPredictions:
                    type: string
                  totalActiveContracts:
                    type: string
                    description: Legacy whole-contract count. Use totalActiveContractsMicro or totalActiveContractsDecimal for the exact value.
                  totalActiveContractsMicro:
                    type: string
                    description: Active contracts in micro-contract units (1000000 = 1 contract)
                  totalActiveContractsDecimal:
                    type: string
                    description: Active contracts as a decimal string
                  totalPositionsValueUsd:
                    type: string
                required:
                  - ownerPubkey
                  - realizedPnlUsd
                  - totalVolumeUsd
                  - predictionsCount
                  - correctPredictions
                  - wrongPredictions
                  - totalActiveContracts
                  - totalPositionsValueUsd
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      security:
        *security
    servers:
      - url: https://api.jup.ag
  "/prediction/v1/profiles/{ownerPubkey}/pnl-history":
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
        - schema:
            type: string
            enum:
              - 24h
              - 1w
              - 1m
            default: 1w
          required: false
          name: interval
          in: query
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            maximum: 1000
            default: 10
          required: false
          name: count
          in: query
      responses:
        "200":
          description: PnL history for charting
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerPubkey:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                        realizedPnlUsd:
                          type: string
                      required:
                        - timestamp
                        - realizedPnlUsd
                required:
                  - ownerPubkey
                  - history
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/trades:
    get:
      tags:
        - Prediction
      responses:
        "200":
          description: Recent order_filled events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: "Trade identifier (e.g. \"order-1906029\")"
                        ownerPubkey:
                          type: string
                        marketId:
                          type: string
                        message:
                          type: string
                        timestamp:
                          type: number
                        action:
                          type: string
                          enum:
                            - buy
                            - sell
                        side:
                          type: string
                          enum:
                            - "yes"
                            - "no"
                        eventTitle:
                          type: string
                        marketTitle:
                          type: string
                        amountUsd:
                          type: string
                        priceUsd:
                          type: string
                        eventImageUrl:
                          type: string
                        eventId:
                          type: string
                        isTeamMarket:
                          type: boolean
                        marketOptions:
                          type: array
                          items:
                            type: object
                            properties:
                              label:
                                type: string
                              buyYes:
                                type: boolean
                      required:
                        - id
                        - ownerPubkey
                        - marketId
                        - message
                        - timestamp
                        - action
                        - side
                        - eventTitle
                        - marketTitle
                        - amountUsd
                        - priceUsd
                        - eventImageUrl
                        - eventId
                required:
                  - data
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/leaderboards:
    get:
      tags:
        - Prediction
      parameters:
        - schema:
            type: string
            enum:
              - all_time
              - weekly
              - monthly
            default: all_time
          required: false
          name: period
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - pnl
              - volume
              - win_rate
            default: pnl
          required: false
          name: metric
          in: query
      responses:
        "200":
          description: Leaderboard entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ownerPubkey:
                          type: string
                        realizedPnlUsd:
                          type: string
                        totalVolumeUsd:
                          type: string
                        predictionsCount:
                          type: number
                        correctPredictions:
                          type: number
                        wrongPredictions:
                          type: number
                        winRatePct:
                          type: string
                        period:
                          type: string
                        periodStart:
                          type: string
                          nullable: true
                        periodEnd:
                          type: string
                          nullable: true
                      required:
                        - ownerPubkey
                        - realizedPnlUsd
                        - totalVolumeUsd
                        - predictionsCount
                        - correctPredictions
                        - wrongPredictions
                        - winRatePct
                        - period
                        - periodStart
                        - periodEnd
                  summary:
                    type: object
                    properties:
                      all_time:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                      weekly:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                      monthly:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                    required:
                      - all_time
                      - weekly
                      - monthly
                required:
                  - data
                  - summary
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /prediction/v1/vault-info:
    get:
      tags:
        - Prediction
      responses:
        "200":
          description: Vault account data
          content:
            application/json:
              schema:
                type: object
                properties:
                  pubkey:
                    type: string
                  data:
                    type: object
                    additionalProperties:
                      type: string
                  vaultBalance:
                    type: string
                required:
                  - pubkey
                  - data
                  - vaultBalance
        "404":
          description: Vault account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      security:
        *security
    servers:
      - url: https://api.jup.ag
  /price/v2/:
    get:
      summary: price
      deprecated: true
      description: "Returns prices of specified tokens. Price V2 API is deprecated, please use Price V3 API instead.\n"
      security:
        - PriceV2_ApiKeyAuth:
            []
      parameters:
        - name: ids
          in: query
          description: Comma separate to pass in multiple
          required: true
          schema:
            type: string
          example: "So11111111111111111111111111111111111111112,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
        - name: vsToken
          in: query
          description: "By default, prices are denominated by USD. To denominate price in SOL, use `vsToken` with SOL mint address"
          required: false
          schema:
            type: string
        - name: showExtraInfo
          in: query
          description: "To use, pass in `showExtraInfo=true`, cannot use `vsToken` with this parameter"
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PriceV2_PriceResponse"
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - PriceV2
    servers:
      - url: https://api.jup.ag
  /price/v3:
    get:
      summary: price
      description: "Get USD prices for up to 50 tokens per request. Tokens without a reliable price are omitted from the response.\n"
      security:
        - PriceV3_ApiKeyAuth:
            []
      parameters:
        - name: ids
          in: query
          description: Comma separate to pass in multiple
          required: true
          schema:
            type: string
          example: "So11111111111111111111111111111111111111112,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: Token addresses as keys
                  type: object
                  properties:
                    createdAt:
                      type: string
                      format: date-time
                      description: When the token was minted or created (fixed date for legacy tokens like SOL/USDC that predate the API)
                    liquidity:
                      type: number
                      description: Total liquidity in USD across all pools
                    usdPrice:
                      type: number
                      description: Current USD price
                    blockId:
                      type: integer
                      nullable: true
                      description: Solana block ID when price was computed
                    decimals:
                      type: integer
                      description: Token decimal places
                    priceChange24h:
                      type: number
                      nullable: true
                      description: 24-hour price change as a percentage
                  required:
                    - createdAt
                    - liquidity
                    - usdPrice
                    - blockId
                    - decimals
                    - priceChange24h
              example:
                So11111111111111111111111111111111111111112:
                  createdAt: 2024-06-05T08:55:25.527Z
                  liquidity: 621679197.67
                  usdPrice: 147.48
                  blockId: 348004023
                  decimals: 9
                  priceChange24h: 1.29
                EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v:
                  createdAt: 2024-06-05T08:55:25.527Z
                  liquidity: 522175174.66
                  usdPrice: 0.9999
                  blockId: 348004025
                  decimals: 6
                  priceChange24h: -0.003
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - PriceV3
    servers:
      - url: https://api.jup.ag
  /recurring/v1/cancelOrder:
    post:
      summary: cancelOrder
      operationId: cancel-order
      description: "Request for a base64-encoded unsigned recurring order cancellation transaction to be used in `POST /recurring/v1/execute`\n"
      security:
        - Recurring_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recurring_CloseRecurring"
        required: true
      responses:
        "200":
          description: Recurring order closed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_RecurringResponse"
              example:
                requestId: b2c3d4e5-f6a7-8901-bcde-f12345678901
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /recurring/v1/createOrder:
    post:
      summary: createOrder
      operationId: create-order
      description: "Request for a base64-encoded unsigned recurring order creation transaction to be used in `POST /recurring/v1/execute`\n"
      security:
        - Recurring_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recurring_CreateRecurring"
        required: true
      responses:
        "200":
          description: Recurring order created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_RecurringResponse"
              example:
                requestId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /recurring/v1/execute:
    post:
      summary: execute
      operationId: execute
      description: "Execute the signed transaction and get the execution status\n"
      security:
        - Recurring_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recurring_ExecuteRecurring"
            example:
              requestId: a1b2c3d4-e5f6-7890-abcd-ef1234567890
              signedTransaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        required: true
      responses:
        "200":
          description: Transaction executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_ExecuteRecurringResponse"
              example:
                status: Success
                signature: 5UfDuX7hXbTiKFJqS1MzGsNpbXTzMKJe2bZP1zrd7DnFBSChKvF2FVDNAuqz7SJpaHXTB9E5DP6tMjfZmVDMJRs
                order: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
                error: null
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /recurring/v1/getRecurringOrders:
    get:
      summary: getRecurringOrders
      security:
        - Recurring_ApiKeyAuth:
            []
      parameters:
        - name: recurringType
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Recurring_RecurringOrderType"
        - name: orderStatus
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/Recurring_OrderState"
        - name: user
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: true
          schema:
            type: integer
            format: int64
            minimum: 1
            nullable: true
        - name: mint
          in: query
          required: true
          schema:
            type: string
            nullable: true
        - name: includeFailedTx
          in: query
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: Successfully retrieved recurring orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_GetRecurringOrderResponse"
              example:
                user: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                orderStatus: active
                time:
                  - userPubkey: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    orderKey: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
                    inputMint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    outputMint: So11111111111111111111111111111111111111112
                    inDeposited: "100.0"
                    inWithdrawn: "0.0"
                    rawInDeposited: "100000000"
                    rawInWithdrawn: "0"
                    cycleFrequency: 60
                    outWithdrawn: "0.0"
                    inAmountPerCycle: "10.0"
                    minOutAmount: "0"
                    maxOutAmount: "0"
                    inUsed: "10.0"
                    outReceived: "0.058"
                    rawOutWithdrawn: "0"
                    rawInAmountPerCycle: "10000000"
                    rawMinOutAmount: "0"
                    rawMaxOutAmount: "0"
                    rawInUsed: "10000000"
                    rawOutReceived: "58000000"
                    openTx: "4xKpN2..."
                    closeTx: null
                    userClosed: false
                    createdAt: 2025-03-15T10:30:00.000Z
                    updatedAt: 2025-03-15T11:30:00.000Z
                    trades:
                      - orderKey: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
                        keeper: J1TnP8zvVxbtF5KFp5xRmWuvG9McnhzmBd9XGfCyuxFP
                        inputMint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                        outputMint: So11111111111111111111111111111111111111112
                        inputAmount: "10.0"
                        outputAmount: "0.058"
                        rawInputAmount: "10000000"
                        rawOutputAmount: "58000000"
                        feeMint: So11111111111111111111111111111111111111112
                        feeAmount: "0.000058"
                        rawFeeAmount: "58000"
                        txId: "3yZe7d..."
                        confirmedAt: 2025-03-15T11:30:00.000Z
                        action: Fill
                        productMeta: null
                price:
                  []
                all:
                  []
                totalPages: 1
                page: 1
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /recurring/v1/priceDeposit:
    post:
      summary: priceDeposit
      operationId: price-deposit
      deprecated: true
      description: "Request for a base64-encoded unsigned price-based recurring order deposit transaction to be used in `POST /recurring/v1/execute`. Price-based recurring orders are deprecated, please use time-based recurring orders instead.\n"
      security:
        - Recurring_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recurring_DepositPriceRecurring"
        required: true
      responses:
        "200":
          description: Deposit transaction created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_RecurringResponse"
              example:
                requestId: d4e5f6a7-b8c9-0123-def0-234567890123
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /recurring/v1/priceWithdraw:
    post:
      summary: priceWithdraw
      operationId: price-withdraw
      deprecated: true
      description: "Request for a base64-encoded unsigned price-based recurring order withdrawal transaction to be used in `POST /recurring/v1/execute`. Price-based recurring orders are deprecated, please use time-based recurring orders instead.\n"
      security:
        - Recurring_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Recurring_WithdrawPriceRecurring"
        required: true
      responses:
        "200":
          description: Withdraw transaction created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Recurring_RecurringResponse"
              example:
                requestId: e5f6a7b8-c9d0-1234-ef01-345678901234
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        "400":
          description: Bad request
        "500":
          description: Internal server error
      tags:
        - Recurring
    servers:
      - url: https://api.jup.ag
  /send/v1/craft-send:
    post:
      summary: craft-send
      description: "Request for a base64-encoded unsigned Send transaction\n"
      security:
        - Send_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - inviteSigner
                - sender
                - amount
              properties:
                inviteSigner:
                  type: string
                  description: "- Public key address generated from the hash of the invite code\n- Do note that, the invite code requires to be generated client side, [refer to docs](/docs/send)\n- Please handle invite code and secret key with highest security as user funds are involved\n"
                sender:
                  type: string
                  description: "- Public key address of the sender\n- This address will be funding the amount to be sent and the token accounts involved\n"
                amount:
                  type: string
                  description: "- Amount in atomic value (before decimals)\n- E.g. to send 1 USDC is equivalent of `amount='1000000'`\n- Do note that there will be additional SOL amount being used in the transaction for transaction fees and token accounts\n"
                mint:
                  type: string
                  description: "- Defaults to WSOL mint\n- Only pass in this parameter with other mint when required\n"
            example:
              inviteSigner: 7nE9GJoYHNmtaQvTQpota3KV2oz4pQ2dA6nvYK8EUJHV
              sender: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
              amount: "1000000"
              mint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - tx
                  - expiry
                  - totalFeeLamports
                properties:
                  tx:
                    type: string
                    description: "- Base64-encoded unsigned Send transaction\n"
                  expiry:
                    type: string
                    description: "- Unix timestamp of when the invite will expire\n- Expired invites will automatically clawback to sender\n"
                  totalFeeLamports:
                    type: string
                    description: "- Amount of fees required for network's transaction fee and token accounts\n"
              example:
                tx: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
                expiry: 2025-03-22T10:30:00.000Z
                totalFeeLamports: "5000"
        "400":
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      tags:
        - Send
    servers:
      - url: https://api.jup.ag
  /send/v1/craft-clawback:
    post:
      summary: craft-clawback
      description: "Request for a base64-encoded unsigned Send transaction\n"
      security:
        - Send_ApiKeyAuth:
            []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - invitePDA
                - sender
              properties:
                invitePDA:
                  type: string
                  description: "- Program Derived Address derived by `\"invite\"` and the public key of the invite\n- Do note that, the invitePDA requires to be generated client side, [refer to docs](/docs/send)\n- Please handle invite code and secret key with highest security as user funds are involved\n"
                sender:
                  type: string
                  description: "- Public key address of the sender\n- Since this address funded the invite, it will be the receiving address of the full amount\n"
            example:
              invitePDA: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
              sender: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - tx
                properties:
                  tx:
                    type: string
                    description: "- Base64-encoded unsigned Send transaction\n"
              example:
                tx: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
        "400":
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      tags:
        - Send
    servers:
      - url: https://api.jup.ag
  /send/v1/pending-invites:
    get:
      summary: pending-invites
      description: "Request for the pending invites of an address\n"
      security:
        - Send_ApiKeyAuth:
            []
      parameters:
        - name: address
          in: query
          description: "- Pubkey of Sender\n"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: "- Pagination of response\n"
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Send_InviteDataResponse"
              example:
                invites:
                  - invite_signer: 7nE9GJoYHNmtaQvTQpota3KV2oz4pQ2dA6nvYK8EUJHV
                    invite_pda: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
                    sender: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    expiry: 2025-03-22T10:30:00.000Z
                    amount: "1000000"
                    creation_tx: "4xKpN2..."
                    deletion_tx: null
                    receiver: null
                    action: created
                    creation_time: 2025-03-15T10:30:00.000Z
                    deletion_time: null
                    mint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    confirmed: true
                hasMoreData: false
        "400":
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      tags:
        - Send
    servers:
      - url: https://api.jup.ag
  /send/v1/invite-history:
    get:
      summary: invite-history
      description: "Request for the invite history of an address\n"
      security:
        - Send_ApiKeyAuth:
            []
      parameters:
        - name: address
          in: query
          description: "- Pubkey can be sender or recipient\n"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: "- Pagination of response\n"
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Send_InviteDataResponse"
              example:
                invites:
                  - invite_signer: 7nE9GJoYHNmtaQvTQpota3KV2oz4pQ2dA6nvYK8EUJHV
                    invite_pda: 8mF4HKoPQNmtbRvTRqotb4LW3pz5rR3eB7owZL9FVKIW
                    sender: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
                    expiry: 2025-03-22T10:30:00.000Z
                    amount: "1000000"
                    creation_tx: "4xKpN2..."
                    deletion_tx: "5yLqO3..."
                    receiver: 9pG5ILqRSOnucCwUSRspuc5MV4pR4sD8fC8qxNL0GWJX
                    action: claimed
                    creation_time: 2025-03-15T10:30:00.000Z
                    deletion_time: 2025-03-16T08:15:00.000Z
                    mint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                    confirmed: true
                hasMoreData: false
        "400":
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "500":
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
      tags:
        - Send
    servers:
      - url: https://api.jup.ag
  /studio/v1/dbc-pool/create-tx:
    post:
      summary: dbc-pool-create-tx
      description: "Request for a base64-encoded unsigned transaction to create a Dynamic Bonding Curve pool with token metadata\n"
      security:
        - Studio_ApiKeyAuth:
            []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Studio_CreateDBCTransactionRequestBody"
            example:
              buildCurveByMarketCapParam:
                quoteMint: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
                initialMarketCap: 16000
                migrationMarketCap: 69000
                tokenQuoteDecimal: 6
                lockedVestingParam:
                  totalLockedVestingAmount: 0
                  cliffUnlockAmount: 0
                  numberOfVestingPeriod: 0
                  totalVestingDuration: 0
                  cliffDurationFromMigrationTime: 0
              antiSniping: true
              fee:
                feeBps: 100
              isLpLocked: true
              tokenName: My Token
              tokenSymbol: MTK
              tokenImageContentType: image/png
              creator: BQ72nSv9f3PRyRKCBnHLVrerrv37CYTHm5h3s9VSGQDV
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Studio_CreateDBCTransactionResponse"
              example:
                transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAEN..."
                mint: TokenMintAddressExample111111111111111111111
                imagePresignedUrl: https://storage.example.com/upload/image?token=abc123
                metadataPresignedUrl: https://storage.example.com/upload/metadata?token=def456
                imageUrl: https://storage.example.com/tokens/TokenMintAddressExample111111111111111111111/image.png
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                  error:
                    type: string
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: string
      tags:
        - Studio
    servers:
      - url: https://api.jup.ag
  /studio/v1/dbc-pool/submit:
[...]
